{% extends "base.html" %}

{% block title %}
Пользователи
{% endblock %}


{% block content %}

<div style="padding:30px;">

<h2>👥 Пользователи Pulse</h2>

<div style="
display:flex;
flex-direction:column;
gap:15px;
margin-top:20px;
">

{% for username, avatar in users %}

<a href="/dialog/{{ username }}"
style="
text-decoration:none;
color:white;
background:#111827;
padding:15px;
border-radius:15px;
display:flex;
align-items:center;
gap:15px;
">

<img 
src="/static/avatars/{{ avatar }}"
width="50"
height="50"
style="
border-radius:50%;
object-fit:cover;
">

<div>
<b>{{ username }}</b>

<br>

<span style="color:#22c55e;">
● онлайн
</span>

</div>

</a>

{% endfor %}

</div>

</div>

{% endblock %}